.signup-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 160px); // Adjust based on header/footer height

  .signup-container {
    background-color: var(--card-background-color);
    padding: 60px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

    h1 {
      font-size: 36px;
      margin-bottom: 30px;
    }

    .form-group {
      margin-bottom: 20px;
      text-align: left;

      label {
        display: block;
        margin-bottom: 10px;
        font-weight: 500;
      }

      input {
        width: 100%;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid var(--border-color);
        background-color: var(--background-color);
        color: var(--text-color);
        font-family: inherit;
      }
    }

    .btn {
      width: 100%;
      margin-top: 10px;
    }

    .login-link {
      margin-top: 30px;
      color: var(--text-color-secondary);

      a {
        color: var(--primary-color);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
